body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: center;     /* centraliza vertical */
}

.login {
  /* opcional, para estilizar o container */
  width: 400px; /* ou qualquer largura que preferir */
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background: white;
  border-radius: 8px;
  background-color: cadetblue;
}

h1 {
    text-align: center;
    color: rgba(51, 61, 202, 0.849);
}

input {
    display: flex;
    margin: auto;
    margin-bottom: 12px;
    
}
button {
    margin: auto;
}